!!!
/[if IE 8 ] <html lang="en" class="no-js ie ie8">
/[if IE 9 ] <html lang="en" class="no-js ie ie9">
/ [if (gt IE 9)|!(IE)]><!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    =csrf_meta_tag
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}
    %title= page_title
    = render :partial => "shared/scripts_and_styles"
    /[if lte IE 8] <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    %link{:href => "/assets/favicon.png", :rel => "icon", :type => "image/png"}
    %link{:href => "/assets/apple-touch-icon-precomposed.png", :rel => "apple-touch-icon-precomposed", :type => "image/png"}
    = javascript_include_tag (:application)
    /[if IE] <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    /[if lt IE 9]
      <script src="assets/js/respond.js?body=1" type="text/javascript"></script>
      <script src="assets/js/selectivizr.js?body=1" type="text/javascript"></script>
  - if !logged_in?
    %body#login-page.orange-background
      = yield
  - else
    %body{:id =>"manage-hotels"}
      = yield
  #CommunityFooter
  - fullpath = "#{request.fullpath}"
  -# - if fullpath.match ("groups")
    -# = stylesheet_link_tag  'application'
  = render :partial => "shared/end_javascript"
  = yield :end_javascript

