%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title Mail SNT To Hotel
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width; initial-scale=1.0; maximum-scale=1.0;", name: "viewport"}/
    :css
      body {
        width: 100%;
        margin: 0px;
        padding: 0px;
        background: #fff;
        text-align: left;
      }
      html {
        width: 100%;
      }
      img {
        border: 0px;
        text-decoration: none;
        outline: none;
      }


      table {
        border-collapse: collapse;
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
      }

      .header-space {
        padding: 0px 20px 0px 20px;
      }

      @media only screen and (max-width:640px) {
      body {
        width: auto!important;
      }
      .main {
        width: 640px !important;
        margin: 0px;
        padding: 0px;
      }

      .header-space {
        padding: 30px 0px 30px 0px;
      }
      }

      @media only screen and (max-width:479px) {
      body {
        width: auto!important;
      }
      .main {
        width: 280px !important;
        margin: 0px;
        padding: 0px;
      }

      .header-space {
        padding: 30px 0px 30px 0px;
      }
      }
  %body
    %table.main-bg{align: "center", border: "0", cellpadding: "0", cellspacing: "0", style: "background:#fff; font-family: Helvetica, Arial, sans-serif", width: "100%"}
      %tr
        %td{align: "center", style: "padding:0px 0px 0px 0px;", valign: "top"}
          / Main Table Start
          %table.main{align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "655"}
            %tr
              %td{align: "center", valign: "top"}
                / Header Part Start
                %table.main{align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "655"}
                  %tr
                    %td{align: "center", bgcolor: "#fff", style: "background:#fff; padding:29px 3% 21px 0px; margin:0px auto;", valign: "middle"}
                      = image_tag 'logo.png'
                %table.main{align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "655"}
                  %tr
                    %td{align: "center", bgcolor: "#f7f7f7", style: "background:#f7f7f7;", valign: "top"}
                      %table.main{align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "590"}
                        %tr
                          %td.header-space{align: "center", style: "font-family:Helvetica, Arial, sans-serif; text-transform:uppercase;  font-size:18px; color:#565656; text-align:center; padding-top:24px; padding-bottom:20px;", valign: "middle"}
                            = @hotel.name
                  %tr
                    = yield
                  %tr
                    %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:22px; padding:24px 5% 24px;", valign: "top"} Thank You!
                  %tr
                    %td{style: "padding:0px  5% 1px; color:#fb8c33;"} Your StaynTouch Team!
                  %tr
                    %td{style: "padding:0px 5% 72px; color:#4868fe; font-size:12px;"}
                      = mail_to 'support@stayntouch.com'
                  %tr
                    %td{align: "center", style: "background:#fb8c33; font-size:12px; color:#ffcea9; padding:29px 0% 80px;", valign: "top"}
                      / Footer Part Start
                      %table.main{align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "625", style: "font-size:12px;"}
                        %tr
                          %td{align: "center", style: "padding-bottom:10px;"}
                            You
                            = mail_to @email, @email, style: "color:#ffcea9; text-decoration:none;"
                            are receiving this email as part of your StayNTouch Inc. Relationship.
                        %tr
                          %td{align: "center", style: "padding-bottom:30px;"}
                            This is an automated message from StayNTouch, Inc.  -
                            = mail_to 'mail@stayntouch.com', 'support@stayntouch.com', style: "color:#ffcea9; text-decoration:none;"
                        %tr
                          %td{align: "center", style: "padding-bottom:10px;"} © 2014 StaynTouch, Inc. | All Rights Reserved.
                        %tr
                          %td{align: "center", style: "padding-bottom:10px;"} StayNTouch, Inc. - 8120 Woodmont Avenue, Suite 440, Bethesda, MD 20814, USA
                        %tr
                          %td{align: "center", style: "padding-bottom:10px;"}
                            %strong
                              %a{href: "http://stayntouch.com/privacy", style: "color:#ffcea9; text-decoration:none;"} Privacy Policy
                              |
                              %a{href: "http://stayntouch.com/terms", style: "color:#ffcea9; text-decoration:none;"} Terms and Conditions
