%form#set-wake-up-call.modal-content.form.confirmation{action: "index.html", method: "post", name: "set-wake-up-call"}
  %button#modal-close.modal-close{:type => "button"}
    %span.icons.icon-close.invert
  .entry.full-width
    #notification-message
  .entry.full-width.float
    %label{for: "wake-up"} Select wake-up time
    .select.select-col.col1-3
      %select#wake-up-hour.styled{name: "wake-up"}
        %option.placeholder{"data-text" => "Not set", value: ""} HH
        -@starthour = 1;
        -@endhour = 13;
        - (@starthour...@endhour).each do |i|
          -@hour = sprintf '%02d', i;
          -if(!@wakeup_calls["wake_up_time"].blank?)
            %option{ value: "#{@hour}", :selected => ("#{@hour}" == Time.parse(@wakeup_calls["wake_up_time"]).strftime("%I")? true: nil)} 
              =@hour
          -else
            %option{ value: "#{@hour}"}
              =@hour
    .select.select-col.col1-3
      %select#wake-up-minute.styled{name: "wake-up"}
        %option.placeholder{"data-text" => "Not set", value: ""} MM
        - (0...4).each do |i|
          -@minute = sprintf '%02d', (i*15);
          -if(!@wakeup_calls["wake_up_time"].blank?)
            %option{value: "#{@minute}",:selected => ("#{@minute}" == Time.parse(@wakeup_calls["wake_up_time"]).strftime("%M")? true: nil)}
              =@minute
          -else
            %option{value: "#{@minute}"}
              =@minute
    .select.select-col.col1-3
      %select#wake-up-primetime.styled{name: "wake-up"}
        /%option.placeholder{"data-text" => "Not set", value: ""} AM/PM
        -if(!@wakeup_calls["wake_up_time"].blank?)
          %option{ value: "AM",:selected => ("AM" == Time.parse(@wakeup_calls["wake_up_time"]).strftime("%p") ? true: nil)} AM
          %option{value: "PM",:selected => ("PM" == Time.parse(@wakeup_calls["wake_up_time"]).strftime("%p") ? true: nil)} PM
        -else
          %option{ value: "AM"} AM
          %option{value: "PM"} PM
          
  .entry.full-width
    %label{for: "wake-up-day"} Select date
    -@todayDate = @wakeup_calls["today_date"]
    -@tommorrowDate = @wakeup_calls["tomorrow_date"]
    / If reservation_status is "CHECKING_OUT" disable 'Tomorrow' switch
    -if @wakeup_calls[:reservation_status] == "CHECKING_OUT"
      .switch-button.full-width#wakeupDate{style: "pointer-events: none;"}
        %input#wake-up-day{name: "wake-up-day", type: "checkbox", value: "1"}
        %label.data-off
          %span.switch-icon Today (#{@todayDate})
          %span.value#wakeup-day Tomorrow (#{@tommorrowDate})
    -else           
      -if @wakeup_calls["day"] == "TODAY"
        .switch-button.full-width#wakeupDate
          %input#wake-up-day{name: "wake-up-day", type: "checkbox", value: "1"}
          %label.data-off
            %span.switch-icon Today (#{@todayDate})
            %span.value#wakeup-day Tomorrow (#{@tommorrowDate})
          %label.data-on
            %span.value#wakeup-day Today (#{@todayDate})
            %span.switch-icon Tomorrow (#{@tommorrowDate})
      -else
        .switch-button.full-width.on#wakeupDate
          %input#wake-up-day{checked: "checked", name: "wake-up-day", type: "checkbox", value: "2"}
          %label.data-off
            %span.switch-icon Today (#{@todayDate})
            %span.value#wakeup-day Tomorrow (#{@tommorrowDate})
          %label.data-on
            %span.value#wakeup-day Today (#{@todayDate})
            %span.switch-icon Tomorrow (#{@tommorrowDate})

  -if(@wakeup_calls["wake_up_time"])
    .actions.float
      %button.button.green.modal-close#save-wakeup-call{type: "button"} Set wake-up call
      %button.button.red.modal-close#delete-wakeup-call{type: "button"} Delete wake-up call
      %button#cancel.button.blank.modal-close{type: "button"} Cancel
  -else
    .actions.float.is-disabled
      %button.button.green.modal-close#save-wakeup-call{type: "button", disabled: true} Set wake-up call
      %button.button.grey.modal-close#delete-wakeup-call{type: "button", disabled: true,"data-disabled-delete" => "true"} Delete wake-up call
      %button#cancel.button.blank.modal-close{type: "button"} Cancel