<p id="notice"><%= notice %></p>

<p>
  <b>Api key:</b>
  <%= @api_key.key %>
</p>

<p>
  <b>Expiry date:</b>
  <%= @api_key.expiry_date %>
</p>


<%= link_to 'Edit', edit_api_key_path(@api_key) %> |
<%= link_to 'Back', api_keys_path %>
