%tr
  %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:justify; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:22px; padding:20px 5% 19px;", valign: "top"}
    = t('Sending confirmation email with following details:', time: @time, type: @type)
    %tr
      %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
        = 'Confirmation Number'
        =':'
        %span{style: " text-transform: capitalize;"}
          = @confirmation_number
    %tr
      %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
        = 'Guest Name'
        =':'
        %span
          = @guest_name
    %tr
      %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
        = 'Guest Email'
        =':'
        %span
          = @primary_email
    -if @phone
      %tr
        %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
          = 'Guest Phone Number'
          =':'
          %span
            = @phone
    -if @state
      %tr
        %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
          = 'State'
          =':'
          %span
            = @state

    -if !@city.nil? or @city != ""
      %tr
        %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
          = 'City'
          =':'
          %span
            = @city
    -if !@street1.nil?
      %tr
        %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
          = 'Address 1 '
          =':'
          %span
            = @street1
    -if !@street2.nil?
      %tr
        %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
          = 'Address 2 '
          =':'
          %span
            = @street2

    -if !@street3.nil?
      %tr
        %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
          = 'Address 3 '
          =':'
          %span
            = @street3

    -if @company_name
      %tr
        %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
          = 'Company Name'
          =':'
          %span
            = @company_name
      -if @company_state
        %tr
          %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
            = 'Company State Name'
            =':'
            %span
              = @company_state
      -if @company_city
        %tr
          %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
            = 'Company City Name'
            =':'
            %span
              = @company_city
      -if @company_street1
        %tr
          %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
            = 'Company Address Street1'
            =':'
            %span
              = @company_street1
      -if @company_street2
        %tr
          %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
            = 'Company Address Street2'
            =':'
            %span
              = @company_street2
      -if @company_street3
        %tr
          %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
            = 'Company Address Street3'
            =':'
            %span
              = @company_street3

    -if @travel_agent
      %tr
        %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
          = 'Travel Agent Name'
          =':'
          %span
            = @travel_agent
      -if @travel_agent_state      
        %tr
          %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
            = 'Travel Agent State'
            =':'
            %span
              = @travel_agent_state
      -if @travel_agent_city            
        %tr
          %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
            = 'Travel Agent City'
            =':'
            %span
              = @travel_agent_city
      -if @travel_agent_street1           
        %tr
          %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
            = 'Travel Agent  Address Street 1'
            =':'
            %span
              = @travel_agent_street1
      -if @travel_agent_street2          
        %tr
          %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
            = 'Travel Agent Address Street 2'
            =':'
            %span
              = @travel_agent_street2
      -if @travel_agent_street3          
        %tr
          %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
            = 'Travel Agent Address Street 3'
            =':'
            %span
              = @travel_agent_street3
        
    %tr
      %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
        = 'Total Guests'
        =':'
        %span
          = @total_guest

    
    %tr
      %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
        = 'Arrival Date'
        =':'
        %span
          = (@reservation.arrival_date).strftime(@reservation.hotel.date_format)
    %tr
      %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
        = 'Departure Date'
        =':'
        %span
          = (@reservation.dep_date).strftime(@reservation.hotel.date_format)
    -if @is_reservation_hourly
      %tr
        %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
          = 'Arrival Time'
          =':'
          %span
            = (@reservation.arrival_time).andand.strftime('%H:%M')
      %tr
        %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
          = 'Departure Time'
          =':'
          %span
            = (@reservation.departure_time).andand.strftime('%H:%M')
    %tr
      %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
        = 'Number of Nights'
        =':'
        %span
          = @total_nights       

    -unless @is_suppress_rate
      %tr
        %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
          = 'ADR'
          =':'
          %span
            = number_with_precision(@adr, :precision => 2)
      %tr
        %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
          = 'Total Stay Cost'
          =':'
          %span
            = number_with_precision(@total_stay_cost, :precision => 2)

      %tr
        %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
          = 'Currency'
          =':'
          %span
            = @currency


    %tr
      %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
        = 'Rate Name'
        =':'
        %span
          = @rate_name
    %tr
      %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
        = 'Rate Description'
        =':'
        %span
          = @rate_desc
    %tr
      %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
        = 'Room Type'
        =':'
        %span
          = @room_type
    %tr
      %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
        = 'Room Type Description'
        =':'
        %span
          = @room_type_description      
    -unless @is_reservation_hourly     

      -if @has_multiple_rate  || @has_distinct_adults_count_during_stay
        %tr
        %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
          = 'Reservation with Multiple Rates'
        
        -@daily_instances.each do |daily_instance|
          -if daily_instance.reservation_date != @dept_date       
            %tr
              %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
                = 'Reservation Date'
                =':'
                %span
                  = (daily_instance.reservation_date).strftime(@reservation.hotel.date_format) if daily_instance.reservation_date
                  
            %tr
              %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
                = 'Rate Name'
                =':'
                %span
                  = daily_instance.rate.rate_name
            -unless  daily_instance.sr_rate?     
              %tr
                %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
                  = 'Rate Amount'
                  =':'
                  %span
                    = number_with_precision(daily_instance.rate_amount.to_f, :precision => 2) if daily_instance.rate_amount
            %tr
              %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
                = 'Rate Description'
                =':'
                %span
                  = daily_instance.rate.rate_desc

            %tr
              %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
                = 'Total Adult(s) Count'
                =':'
                %span
                  = daily_instance.adults   
            %tr
              %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
                = 'Total Infant(s) Count'
                =':'
                %span
                  = daily_instance.infants      

          
       
      -unless @addons.empty?
        %tr
          %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
            = 'Number of Addon(s)'
            =':'
            %span
              = @addons.count
        -@addons.each do |addon|
          %tr
            %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
              = 'Addon Name'
              =':'
              %span
                = addon.name
          %tr      
            %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
              = 'Addon Description'
              =':'
              %span
                = addon.description
          %tr      
            %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
              = 'Addon Quanity'
              =':'
              %span
                =addon.quantity
          %tr      
            %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
              = 'Addon Amount'
              =':'
              %span
                =number_with_precision(addon.amount, :precision => 2)

          %tr      
            %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
              = 'Addon Total Amount'
              =':'
              %span
                =number_with_precision(addon.quantity * addon.amount, :precision => 2)
      -if @payment_method         
        %tr
          %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
            = 'Payment Method'
            =':'
            %span
              = @payment_method.description
      -unless @tax.empty? || @is_suppress_rate
        -@tax.each do |tax|
          
          %tr
            %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
              = 'Tax Description'
              =':'
              %span
                = tax[:description]
          %tr
            %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
              = 'Tax Amount'
              =':'
              %span
                =number_with_precision(tax[:amount], :precision => 2)
                
      -unless @bill_routing_informations.empty?
        -@bill_routing_informations.each do |bill_routing|
          %tr      
            %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
              = 'Entity Name'
              =':'
              %span
                = bill_routing[:entity].primary_guest.full_name if bill_routing[:entity_type] == Setting.routing_entity_types[:reservation]
          -unless bill_routing[:attached_billing_groups].empty?
            -bill_routing[:attached_billing_groups].each do |bill_group|
              %tr
                %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
                  = 'Billing Grouping Name'
                  =':'
                  %span
                    = bill_group.name
          -unless bill_routing[:attached_charge_codes].empty?
            -bill_routing[:attached_charge_codes].each do |charge_code|
              %tr
                %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px; background:#e5f1fa;", valign: "top"}
                  = 'Charge Code Description'
                  =':'
                  %span
                    = charge_code.description
         
        
    %tr
      %td{align: "center", bgcolor: "#ffffff", style: "background:#ffffff; text-align:left; font:normal 16px Arial, Helvetica, sans-serif; color:#231f20; line-height:18px; padding:10px 5% 15px;", valign: "top"}        
